:root {
}

/* general styling */
body, html {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    font-family:'PT Sans', sans-serif;
}

body {
    position: relative;
}

#container {
    width:100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(255,255,255,0.7));
}

select, option {
    font-family:'PT Sans', sans-serif;
}

h1,h2,h3 {
    margin:0;
}

/* main elements */
header {
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    padding:1.5em 1em 0em 1em;
    flex:1;
    gap:0.5em;
    /* background-image:url('img/banner.jpg'); */
    background-size:cover;
    background-position: center 70%;
    /* box-shadow: #ccc 0px 0px 20px; */
    /* backdrop-filter: blur(10px); */
    /* background-image: linear-gradient(to top, rgba(255,255,255,0.5), rgba(255,255,255,1)); */
}

#title {
    font-family: 'Philosopher', serif;
    color:rgba(40,40,50,.8);
    mix-blend-mode: multiply;
    
}

#searchbar {
    width:100%;
    display:flex;
    flex-flow:column wrap;
    gap:0.25em;
    padding:0.25em;
    align-items: center;
}

#search {
    box-sizing: border-box;
    border-radius:1.5em;
    border:1px solid rgba(0,0,0,0.1);
    background:rgba(255,255,255,0);
    color:rgba(0,0,0,0.5);
    padding:1em;
    width:70%;
    font-size:0.9em;
    font-family:'PT Sans',serif !important;
    transition: all 300ms;
}

.wrap {
    width:100%;
    text-align: center;
}

#search:focus {
    outline:none;
    width:100%;
    background:rgba(255,255,255,0.9);
    color:rgba(0,0,0,0.9);
    border-color:rgba(255,255,255,0.8);
    transition: all 300ms;
}

#searchbar .hint {
    font-size:0.5em;
    margin-top:-2.5em;
    position: absolute;
    display: none;
    color:#f08489;
}

#search::-webkit-input-placeholder, .fa-solid, .fa-regular {
    font-family:'Font Awesome 5 Free';
    font-weight: 900;
    color:rgba(0,0,0,0.3);
}

#filtermenu {
    display:flex;
    flex-flow:column wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding:1em 1em 0.5em 1em;
    gap:0.5em;
}

form#filter {
    width:100%;
    display:flex;
    flex-flow:row nowrap;
    gap:2em;
}

form#filter select {
    width:100%;
    padding:0.5em;
    border-radius: 1em;
    background:rgba(255,255,255,0);
    border:1px solid rgba(0,0,0,0.1);
    color:rgba(0,0,0,0.7);
    transition: all 300ms;
    font-size:0.7em;
} 

form#filter select:focus {
    outline:none;
    background:rgba(255,255,255,0.9);
    color:rgba(0,0,0,0.9);
    border-color:rgba(255,255,255,0.8);
    transition: all 300ms;
}

#dex {
    display:flex;
    flex-flow:row wrap;
    justify-content: space-evenly;
    padding:1em;
    gap:1em;
}

#dex .card {
    width:calc(100% / 2 - 3em);
    border:1px solid rgba(0,0,0,0.2);
    border-radius: 0.5em;
    display: flex;
    flex-flow: column wrap;
    gap:0.5em;
    padding:1em;
    background:rgba(255,255,255,0.4);
}

#dex .card h1, #dex .card h2, #dex .card p {
    margin:0;
}

#dex .card img {
    width:100%;
    object-fit: cover;
}

#dex .card-header, #dex .types {
    display:flex;
    flex-flow:row nowrap;
    width:100%;
    align-items: center;
}

#dex .card-header {
    justify-content: space-between;
    text-transform: capitalize;
}

#dex .card-header h1 {
    font-size:1em;
}

#dex .card-header .dexnumber {
    font-size:1em;
    font-weight:lighter;
}

#dex .types {
    justify-content: flex-start;
    gap:0.5em;
}

#dex .types span {
    text-align: center;
    border-radius:1em;
    border:1px solid rgba(0,0,0,0.2);
    padding:0.25em .75em;
    font-size:0.8em;
    /* letter-spacing: 0.2em; */
    color:rgba(0,0,0,0.7);
}

#dex .desc {
    display:flex;
    flex-flow:row wrap;
    align-items: flex-start;
    font-size: 0.8em;
    gap:0.25em;
}

#dex .desc h2 {
    font-size:0.9em;
}

/* modal */
.overlay {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height:100vh;
    width:100vw;
    backdrop-filter: blur(10px) saturate(180%);
    display: flex;
    z-index: 1;
    flex-wrap:wrap;
    justify-content: center;
    /* align-content: center; */
    padding:1em;
    box-sizing: border-box;
} 

.close-button {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-window-close {
    font-size:2em;
    cursor: pointer;
    line-height:1em;
    color:rgba(255,255,255,0.6);
}

.hidden {
    opacity:0;
    display:none;
}

.noscroll {
    overflow-y: hidden;
    margin:0;
}

.modal {
    display:flex !important;
    flex-flow:column wrap;
    align-items: center;
    height:fit-content;
    width:70%;
    text-align: center;
    background: rgba(255,255,255,0.8);
    padding:1em 1.5em;
    border-radius: 1.5em;
    z-index:10;
    gap:0.5em;
    backdrop-filter: blur(10px) saturate(180%);
    transition: all 300ms;
    align-items: flex-start;

}

.modal h1 {
    font-size:2.25em;
    text-transform: capitalize;
    font-family:'Philosopher';
}

.modal h2 {
    font-weight:lighter;
}

.modal img {
    width:50%;
    position:absolute;
    top:-10%;
    right:-10%;
    pointer-events: none;
}

.modal-header {
    width:100%;
    text-align: left;
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
}

.modal-body {
    width:100%;
}

.modal-data {
    margin-top:0.2em;
    display:flex;
    flex-flow:row nowrap;
    gap:0.5em;
    font-size:0.8em;
    width:50%;
}

.modal .cell {
    flex:1;
    display:flex;
    flex-flow:row wrap;
    text-align: left;
}

.modal .label {
    font-size:0.9em;
    font-weight:bold;
}

.modal .data {
    width:100%;
    align-self: flex-end;
}

.modal-text {
    text-align:left;
    display: flex;
    flex-flow:row wrap;
    gap:0.5em;
    padding-top:0.5em;
    padding-bottom:1em;
    width:auto;
}

.modal h2 {
    font-size:1em;
}

.modal-text p {
    font-size:0.75em;
}

/* type colors */
.type.normal {
    background:#A8A878;
}

.type.fire {
    background:#F08030;
}

.type.water {
    background:#6890F0;
}

.type.electric {
    background:#F8D030;
}

.type.grass {
    background:#78C850;
}
.type.ice {
    background:#98D8D8;
}
.type.fighting {
    background:#C03028;
}
.type.poison {
    background:#A040A0;
}
.type.ground {
    background:#E0C068;
}
.type.flying {
    background:#A890F0;
}
.type.psychic {
    background:#F85888;
}
.type.bug {
    background:#A8B820;
}
.type.rock {
    background:#B8A038;
}
.type.ghost {
    background:#705898;
}
.type.dragon {
    background:#7038F8;
}
.type.dark {
    background:#705848;
}
.type.steel {
    background:#B8B8D0;
}
.type.fairy {
    background:#EE99AC;
}

span.dragon, span.fighting, span.dark, span.ghost, span.poison {
    color:rgba(255,255,255,0.7) !important
}

/* media queries (used mostly bootstrap's breakpoints) */
/* over 375px */
@media (min-width: 375px) { 
    .modal-data {
        width:100%;
    }
    .modal img {
        top:-20%;
        right:-15%;
        width: 55%;
        max-width: 170px;
        height: auto;
    }
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .modal img {
        right:-25%;
        width: 60%;
        max-width: 400px;
    }
    .modal-text, .modal-data {
        width:80%;
    }
    .modal .modal-title h1 {
        font-size:3em;
    }
    .modal .modal-title h2 {
        font-size:1.5em;
    }
    .modal-body {
        font-size:1em;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .modal-text, .modal-data {
        width:70%;
    }
    .modal img { 
        top:-17%;
        right:-17%;
        width:65%;
        max-width:350px;
    }
    .modal .modal-title h1 {
        font-size:4em;
    }
    .modal .modal-title h2 {
        font-size:2em;
    }
    /* card styling */
    #dex .card {
        width:calc(100% / 4 - 3em);
    }
}

/* // Large devices (desktops, 900px and up) */
@media (min-width: 900px) {
    .modal-data, .modal-text {
        width:80%;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .modal img {
        top:-17%;
        width:75%;
        right:-10%;
    }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .modal-data, .modal-text {
        width:95%;
    }
    .modal img {
        width:100%;
    }
}